/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFE7E7;
}

/* Header styles */
.header {
  background-color: #944E63;
  padding: 20px 0;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px; /* Adjust the height as needed */
  margin-right: 20px;
}

.title {
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Container styles */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Search bar styles */
.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-bar {
  display: flex;
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 10px;
  border: none;
  background-color: #944E63;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}

.search-bar button:hover {
  background-color: #CAA6A6;
}

.search-bar button i {
  font-size: 20px;
}

/* Recipe card styles */
.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Reduced gap between cards */
  margin-top: 20px;
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Reduced margin around cards */
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 15px; /* Reduced padding inside the card */
}

.card-title {
  font-size: 20px; /* Adjusted font size */
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  color: #666;
  margin-bottom: 10px;
}

.card-text {
  color: #333;
  margin-bottom: 15px; /* Reduced margin */
}

.btn {
  padding: 8px 16px; /* Adjusted padding */
  border: none;
  border-radius: 5px;
  background-color: #CAA6A6;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

footer {
  background-color: #944E63;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
